.contact {
    text-align: center;
    background-color: #1e1e1e; 
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 20px auto; 
  }
  
  .contact h4 {
    font-size: 1.8rem;
    font-family: "Metal Mania", system-ui;
    margin-bottom: 20px;
  }
  
  .contact p {
    font-size: 1.2rem;
    margin: 10px 0;
    font-family: "Arial", sans-serif;
    color: #f2f2f2;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 600px) {
    .contact {
      padding: 15px;
    }
  
    .contact h4 {
      font-size: 1.5rem;
    }
  
    .contact p {
      font-size: 1rem;
    }
  }
  